.map {
    width: 600px;
    height: 600px;
    div {
        border-radius: 30px;
    }
}

@media (max-width: 1860px) {
    .map {
        width: 500px;
        height: 500px;
    }
}

@media (max-width: 1500px) {
    .map {
        width: 450px;
        height: 450px;
    }
}

@media (max-width: 1400px) {
    .map {
        width: 400px;
        height: 400px;
    }
}

@media (max-width: 960px) {
    .map {
        width: 350px;
        height: 350px;
    }
}

@media (max-width: 900px) {
    .map {
        width: 300px;
        height: 300px;
    }
}